# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node (se mai usato in futuro)
node_modules/
.npm

# Cloudflare
.wrangler/

# Env
.env
.env.local
.env.*
